APP_NAME="Switch Framework"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=UTC

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=switch_db
# DB_USERNAME=postgres
# DB_PASSWORD=
